extends ../layout

block content
  .container
    table.table.table-hover.table-bordered
      thead
        tr
          th 用户名
          th 创建时间
          th 更新时间
          th 删除
      tbody
        each item in users
          tr(class=`item-id-$(item.id)`)
            td=item.name
            td=moment(item.meta.createAt).format('MM/DD/YYYY')
            td=moment(item.meta.updateAt).format('MM/DD/YYYY')
            td
              button.btn.btn-danger.deluser(type="button", data-id=item_id) 删除
              
